@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

li {
    margin-left: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

li span {
    position: relative;
    left: -10px;
}

#white-hover:hover {
    color: white;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

.col-md-2 {
    padding: 0 5px;
}

header {
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 10;
    padding: 0px 15px;
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0)
  );
    /* backdrop-filter: blur(4px); */
}

header .title-name a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    position: relative;
}

header .nav {
    background-color: none;
}

header .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .nav ul li {
    display: inline-block;
    margin-left: 35px;
}

header .nav ul li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: white;
    font-weight: 600;
    position: relative;
    padding-bottom: 5px;
}    

header .nav ul li a::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: all 0.5s ease;
}

header .nav ul li a:hover::before {
    width: 100%;
    left: 0;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

.home {
    min-height: 100vh;
    background-image: url('./images/home-background.jpeg');
    /* background-color: black; TEMPORARY */
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.home .full-screen {
    min-height: 100vh;
}

.home .home-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid white;
    margin-top: 50px;
}


.home .home-content .block h1 {
    color: white;
    font-size: 70px;
    font-weight: 600;
    margin: 0 0;
    padding: 0;
}

.home .home-content .block h3 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 0 0;
    padding: 0;
}



.main-skills {
    background: #313639;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-skills .card{
    background: #313639;
    border: 1px solid #313639;
    transition: 0.5s linear;
}

.main-skills .card:hover{
    border: 0.1px solid white;
}

.card-deck {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 10px;
}

.main-skills .card-img-top {
    width: 175px;
    height: auto;
    margin: 10px 10px;
}

.main-skills .card-title {
    text-align: center;
    color: white;
}

.main-skills h3 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.other-skills {
    background: #f2f3f4;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.other-skills h3 {
    color: #313639;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    padding-bottom: 40px;
    text-align: center;
}

.other-skills .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 10px;
}

.other-skills .card{
    background: #f2f3f4;
    border: none;
}

.other-skills .card-title {
    text-align: center;
    color: #313639;
}

.other-skills .card-body {
    padding:0;
    padding-top: 10px;
}

.work-experience {
    padding-left: 15px;
    padding-bottom: 0;
    padding-top: 30px;
    background-color: #313639;
    color: #f2f3f4;
}

.work-experience .section-title h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 5px;
}

.work-experience .section-title h1:before {
    content: '';
    left: 0;
    height: 2px;
    right: 0%;
    background: #61B5E4;
    bottom: 0;
    position: absolute;
}

.work-experience .section-title p {
    display: block;
    font-size: 16px;
    color: #838383;
    letter-spacing: 2px;
    padding-top: 10px;
}

.job-subtitle {
    font-size: 20px;
    font-weight: lighter;
    margin:10px 0px;
    color: #838383;
}



.featured-experience-row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.featured-experience-row__item {
    width: 100%;
}

#forward {
    padding: 20px;
}

#well {
    padding: 20px;
}

.job__header {
    color: #f2f3f4;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

#forward .job__header:hover {
    color: #e0007c;
    text-decoration: none;
}

#well .job__header:hover {
    color: #0084de;
    text-decoration: none;
}

#forward__image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}


.job__tech-stack {
    display: flex;
    justify-content: space-around;
}

.stack-icon {
    height: 40px;
    width: auto;
}

.stack-item {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
    padding-left: 15px;
    padding-bottom: 0;
    padding-top: 30px;
    background: #f2f3f4;
}

.about-me .section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 5px;
    padding-left: 15px;
}

.about-me .section-title h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #313639;
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 5px;
}

.about-me .section-title h1:before {
    content: '';
    left: 0;
    height: 2px;
    right: 0%;
    background: #cc0000;
    bottom: 0;
    position: absolute;
}

.about-me .section-title p {
    display: block;
    font-size: 16px;
    color: #838383;
    letter-spacing: 2px;
    padding-top: 10px;
}

.about-me .swap img {
    padding-bottom: 10px;
}

.about-me span {
    font-weight: 700;
    font-size: 18px;
}

.app-section {
    margin-top: 10px;
}

.swap {
    transition: 1s;
}

.created-with {
    color: #313639;
}

.web {
    padding-bottom: 35px;
}

.swap img:last-child {
    display: none;
}

.swap:hover img:first-child {
    display: none;
}

.swap:hover img:last-child {
    display: inline-block;
}

.icon {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 30px;
}

#project-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#project {
    padding: 20px;
}

.project__header {
    color: black;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.project__header:hover {
    color: #fb4033;
}

.project__stats-header {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
}

.project__stat{
    margin-top: 5px;
    font-size: 20px;
}

.project__tech-stack {
    display: flex;
    justify-content: space-around;
}

.education {
    padding-left: 30px;
    padding-bottom: 0;
    padding-top: 30px;
    background: #f2f3f4;
}

.education .section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
    padding-left: 15px;
}

.education .section-title h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #313639;
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 2px solid red;
}

.education .row {
    padding-bottom: 20px;
}

.education ul a {
    margin-top: 5px;
}


.education li{
    padding-top: 5px;
    padding-bottom: 5px;
}


.contact {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #313639;
    padding-top: 20px;
}

.contact ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}

.contact ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 12vw;
    transform: rotate(-30deg) skew(25deg);
    background: #313639;
}

.contact ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #313639;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #313639;
    font-size: 30px !important;
    border: none;
}

.contact ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
    border: none;
}

.contact ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
    border: none;
}

.contact ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
    border: none;
}

.contact ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
    border: none;
}

.contact ul li:hover span:nth-child(1) {
    transform: translate(10px, -10px);
    opacity: 0.2;
    border: none;
}

.contact ul li:nth-child(5) span {
    background: #f2f3f4;
}

.contact ul li:nth-child(4) span {
    background: #f2f3f4;
}

.contact ul li:nth-child(3) span {
    background: #f2f3f4;
}

.contact ul li:nth-child(2) span {
    background: #f2f3f4;
}

.contact ul li:nth-child(1) span {
    background: #f2f3f4;
}